// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";

.bannerindex {
  height: 100px;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  background-color: #F4F4F4;
}

.bannerindex h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.containerindex {
  margin-left: 40px;
  margin-right: -80px;
  margin-top: 30px;
}

.content {
  display: flex;
}

#map {
  padding: 30px;
  width: 280px;
}

.card-side {
  position: sticky;
  top: 0;
  width: 250px;
  padding-top: 20px;
}

.card-header {
  background-color: #85DED8;
}

.card-header-body {
  border-radius: 0.25rem;
  background-color: white;
  margin: 30px;
}

.announces {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  padding: 30px;
  margin: auto;
  margin-top: 0px;
}

.announces a {
  text-decoration: none !important;
  color: black;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .announces {
    grid-template-columns: 1fr 1fr;
  }
  .card-style {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) {
  .announces {
    grid-template-columns: 1fr 1fr;
  }
  .card-style {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .announces {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-style {
    display: block;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .announces {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card-style {
    display: block;
  }
}

.announce {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 200px;
  border-radius: 0.25rem;
}

.announce > img {
  width: 100%;
  object-fit: cover;
}

.announce h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.announce p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.announce .announce-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-bottom: 50px;
}

.pagination a {
  color: black;
}
