.connection {
  display: flex;
  justify-content: space-evenly;
  background-image: url(https://res.cloudinary.com/dpwr92z8p/image/upload/v1591261878/boatview1_wqxb7l.jpg);
  background-size: cover;
}
