.container2 {
  padding-top: 120px;
  margin-left: 70px;
  margin-right: 70px;
}

.Productview_container {
  padding-top: 30px;
  text-align: flex;
  border-bottom-color: rgb(116, 116, 116);
}

.Productview_container h2 {
  font-family: Georgia, serif;
  font-size: 30px;
  line-height: 32px;
  color: black;
  font-weight: bold,
}

