.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 0px 10px 0px grey;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.louermonbateau {
  padding-top: 10px;
}
